.item {
    font-size: 20px;
    font-weight: 700;
    color: #3f78ce  ;

}
.naving{
    padding: 5px !important;
}

.text{
    color: #0b2856 !important;
}
a.active{
    color: red !important;
}
.text:hover{
    color: red !important;
}
.navbar-expand-lg .navbar-nav{
    margin-left: 141px;
}
.btn-primary{
    background-color: #3963a7 !important;
}
.btn-primary:hover{
    background-color: #af1313 !important;
}
