.page-banner-section {
    background-color: #ebf7f8 !important;
    padding-top: 233px;
    padding-bottom: 127px;
}
.section, .main-wrapper {
    float: left;
    width: 100%;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}
.page-banner {
    text-align: center;
}
.page-banner .title {
    font-size: 75px;
    font-weight: 700;
    color: #1d3557;
    margin-bottom: 0;
}
.page-banner .title span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 5px;
}
/*title*/

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .section-padding-02 {
        padding-top: 100px;
    }
}
@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}
@media only screen and (min-width: 1600px), only screen and (min-width: 1200px) and (max-width: 1599px) {
    .service-content-wrapper {
        padding: 0 70px;
    }
}
.service-content-wrapper .service-content {
    width: 55%;
    padding-left: 30px;
}
.row>.service-wrapper {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.section, .main-wrapper {
    float: left;
    width: 100%;
}
.service-content-wrapper .service-content .text1 {
    font-size: 18px;
    color: #457b9d;
    font-weight: 500;
}
.service-content-wrapper .service-content p {
    margin-bottom: 0;
    margin-top: 25px;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
}
.service-content-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.service-content-wrapper .section-title {
    width: 45%;
    padding-right: 30px;
}
.about-images .shape {
    width: 340px;
    height: 540px;
    background-color: #ebf7f8;
    border-radius: 50%;
    transform: translateX(-50%) rotate(30deg);
    position: absolute;
    top: 10px;
    left: 58%;
    z-index: -1;
}
@media (min-width: 992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
}
.about-images {
     position: relative;
     z-index: 1;
     margin-top: 50px;
 }

/*features*/
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .section-padding-02 {
        padding-top: 100px;
    }
}
@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}
.features-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature-box .content .title {
    font-size: 24px;
    font-weight: 500;
    color: #1d3557;
    margin-bottom: 0;
}
.feature-box .icon {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding-top: 20px;
}
.feature-box .icon::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: #e1f3f4;
    z-index: -1;
    top: 0px;
    left: -28px;
}
.feature-box .content p {
    margin-top: 8px;
}

p:last-child {
    margin-bottom: 8px;
}
.feature-box .content {
    padding-top: 38px;
}
.img1 {
    max-width: 100%;
}

.img1, svg {
    vertical-align: middle;
    margin-left: 100px;
}
/*next feature*/
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .section-padding-02 {
        padding-top: 100px;
    }
}
.section, .main-wrapper {
    float: left;
    width: 100%;
}

.mt-n1 {
    margin-top: -0.3125rem !important;
}
/*.overflow-hidden {*/
/*    overflow: visible !important;*/
/*}*/
@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 10px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto ;
}

.service-wrapper {
    position: relative;
    z-index: 1;
    padding-bottom: 25px;
    margin: 0 15px;
}
.service-wrapper::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 86.5%;
    background-color: #ebf7f8;
    bottom: -15px;
    left: 0;
    z-index: -1;
    border-radius: 35px;
    border: 15px solid rgba(255,255,255,0);
}
.row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
@media (min-width: 992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .section-padding-02 {
        padding-top: 100px;
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.service-active .swiper-container .swiper-wrapper .swiper-slide:nth-child(2n+1) {
    margin-top: 50px;
}
.service-box {
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 10px;
}
.service-box .box-icon {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding-left: 10px;
}
.service-box .box-icon::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ebf7f8;
    z-index: -1;
    bottom: 0;
    left: 0;
}
.service-box .box-content {
    padding-top: 24px;
}
@media (min-width: 992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
}
.client-images img {
    border-radius: 50%;
}

img {
    max-width: 100%;
}
img, svg {
    vertical-align: middle;
}
.client-images {
    position: relative;
    width: 100%;
    height: 91%;
    margin-top: 50px;
}
.client-content {
    padding-right: 70px;
    margin-top: 45px;
}
.section-title .sub-title {
    font-size: 16px;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    color: #616161;
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 1px;
}
.section-title .title {
    font-size: 60px;
    font-weight: 700;
    color: #1d3557;
    margin-bottom: 0;
}
.section-title .title span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 5px;
}
.section-title .title span::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 14px;
    background-color: #b3d9db;
    bottom: 13px;
    left: 0;
    z-index: -1;
}
.client-content p {
    margin-bottom: 0;
    margin-top: 24px;
}
.client-wrapper {
    padding-top: 13px;
}

.single-client .client-info {
    margin-top: 11px;
}

.single-client .client-info .name {
    font-size: 18px;
    font-weight: 600;
    color: #c25251;
}
.single-client .client-info span+span::before {
    content: '|';
    color: #919191;
    font-size: 22px;
    margin: 0 5px;
    line-height: 1;
}
.client-active .swiper-button-next, .client-active .swiper-button-prev {
    position: relative;
    top: 0;
    margin-top: 20px;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    display: inline-block;
    color: #585858;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 1;
    outline: none;
    font-weight: 500;
    opacity: 1;
}
.client-active .swiper-button-next {
    font-weight: 600;
}
.client-active .swiper-button-next::before {
    content: '/';
    color: #919191;
    font-size: 14px;
    margin: 0 5px;
    line-height: 1;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}


.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.single-client p img {
    vertical-align: bottom;
    margin-right: 10px;
    margin-bottom: 6px;
}
.single-client p {
    font-size: 18px;
    font-weight: 500;
    color: #457b9d;
    margin-bottom: 0;
}
.client-images .shape-2 {
    position: absolute;
    bottom: 22% !important;
    left: 25px !important;
    top: auto !important;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #a8dadc;
}
.client-images img {
    border-radius: 50%;
}
.client-images .images-2 {
    position: absolute;
    top: 44% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    right: 0 !important;
    left: auto !important;
    border-radius: 50%;
}

.client-images .images-3 {
    position: absolute;
    bottom: -20px !important;
    left: 19% !important;
    top: auto !important;
    border-radius: 50%;
}
.client-images .images-1 {
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 50%;
    background-color: #dddddd;
    -webkit-box-shadow: 0px 8px 46px 0px rgb(29 53 87 / 13%);
    box-shadow: 0px 8px 46px 0px rgb(29 53 87 / 13%);
    z-index: 2;
    display: inline-block !important;
}
.client-active .swiper-button-next {
    font-weight: 600;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-active .swiper-button-next, .client-active .swiper-button-prev {
    position: relative;
    top: 0;
    margin-top: 20px;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    display: inline-block;
    color: #585858;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 1;
    outline: none;
    font-weight: 500;
    opacity: 1;
}
.swiper-container-pointer-events {
    touch-action: pan-y;
}
.client-active .swiper-button-next, .client-active .swiper-button-prev :hover{
    color: #b74040;
}
.client-active .swiper-button-next::before {
    content: '/';
    color: #919191;
    font-size: 14px;
    margin: 0 5px;
    line-height: 1;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.single-client .client-info .name {
    font-size: 18px;
    font-weight: 600;
    color: #c25251;
}

.single-client .client-info span {
    position: relative;
    line-height: 1;
}
.single-client .client-info span+span::before {
    content: '|';
    color: #919191;
    font-size: 22px;
    margin: 0 5px;
    line-height: 1;
}
.service-active .swiper-button-next::after, .service-active .swiper-button-prev::after {
    font-size: 14px;
    color: #1d3557;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
}

.service-active .swiper-button-prev {
    left: auto;
    right: 90px;
}
.service-active .swiper-button-next, .service-active .swiper-button-prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    top: -40px;
    right: 45px;
    margin-top: 0;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.service-active .swiper-button-next::after, .service-active .swiper-button-prev::after {
    font-size: 14px;
    color: #1d3557;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
.single-work .count {
    font-size: 40px;
    font-weight: 800;
    color: #c25251;
    line-height: 1;
    white-space: nowrap;
}
.single-work p {
    font-size: 20px;
    color: #457b9d;
    margin-top: 5px;
    margin-bottom: 0;
}
.work-wrapper {
    padding: 50px 65px 50px;
    position: relative;
    z-index: 1;
}

@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
}
.single-work {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 46px 0px rgb(29 53 87 / 8%);
    box-shadow: 0px 8px 46px 0px rgb(29 53 87 / 8%);
    text-align: center;
    padding: 40px 15px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.work-wrapper .shape {
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: -2;
    opacity: 0.64;
}
.section-title .sub-title {
    font-size: 16px;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    color: #616161;
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 1px;
}
